on:
  push:
    branches:
      - main
  pull_request:

name: build

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: '--max-old-space-size=8192'
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: moonrepo/setup-toolchain@v0
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version: '22.21.1'
          cache: 'pnpm'
      - run: pnpm install
      - uses: actions/cache@v5
        with:
          path: .moon/cache
          key: ${{ runner.os }}-moon
      - run: pnpm build
