on:
  push:
    branches:
      - main
  pull_request:

name: test

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: '--max-old-space-size=8192'
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: moonrepo/setup-toolchain@v0
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
      - uses: actions/setup-node@v6
        with:
          node-version: '22.22.0'
          cache: 'pnpm'
      - run: pnpm install
      - uses: actions/cache@v5
        with:
          path: .moon/cache
          key: ${{ runner.os }}-moon
      - run: pnpm test
